*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bghead:#F7F7F7;
    --virtual:#86C840;
    --p:#AAAAAA;
    --h:#222222;
    --quote:#6A6A6A;
    
}
li,a{
    list-style: none;
    text-decoration: none;
    color: #222222;
}

@font-face{
    font-family:Nexa Slab Regular;
    src:url(./fonts/NexaSlab-Regular400.otf);
}

body{
    font-family: "Nexa Slab Regular",sans-serif,monospace;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /* width: 100vw; */
}

.container{
    width: 80%;
}

/* header */
header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* brand */
.brand{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.brand a p{
    font-weight: bold;
}
.brand a p span{
    color:var(--virtual)
}
.menuicon{
    display: none;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li{
    position: relative;
}
nav ul li .home{
padding-bottom: 5px;
}
nav ul li .active::after{
    content:" ";
    border: 4px solid var(--virtual);
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border-radius: 50%;
    margin-top: 3px;
}

/* banner */
.banner_bg{
    width: 100%;
    background-color: var(--bghead);
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner p{
    color: var(--p);
    padding: 20px 0;
}
.banner #email{
    width:15rem;
    height: 4.5vh;
    outline: none;
    border: 2px solid var(--p);
    border-radius: 2px;
}
.banner #email::placeholder{
    font-family: Nexa Slab Regular;
    color: var(--p);
    padding-left: 0.5rem;
}
.banner .btn{
    margin-left: 15px;
    padding: 1.2vh 25px;
    background-color: var(--virtual);
    color: white;
    border-radius: 3px;
}

/* main */
main{
    width: 100%;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

 .heading{
    padding: 1rem 0;
    padding-left: 0.9rem;
    border-left: 9px solid var(--virtual);
    margin: 1.8rem 0;

}
.heading p{
    color:var(--p)
}

main .projectcontainer{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}
main .projectcontainer .projectsBx{
    flex-basis: 30%;
    padding: 1rem 0;
}
.imgBx{
    position: relative;
    cursor: pointer;
}
.imgBx > img{
    width: 100%;
    height: 100%;
}
.imgBx .hover{
    width: 100%;
    height: 50px;
    background-color: #3b3b3b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}
.imgBx:hover .hover{
    opacity: 1;
}
.imgBx .hover .date{
    color: white;
}
.imgBx .hover .des{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.imgBx .hover .des .desBx{
    padding: 0 5px;
}
.imgBx .hover .des .desBx span{
    color:white;
}
.temt{
    padding: 0.8rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.pjbtn{
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 2.8rem auto;
    padding: 0.8rem 2.8rem;
    color: white;
    background-color: var(--virtual);
}


/* article */

.textBg{
    width: 100%;
    padding: 2rem 0;
    background-color: var(--bghead);
    display: flex;
    justify-content: center;
    align-items: center;

}

.textp{
    position: relative;
    width: 70%;
}
.text{
    width: 100%;
    padding: 3.5rem 0;
    font-size: 2rem;
    text-align: center;
    color: var(--p);

}
.textp::after{
    content: url(./img/quote2.png);
    position: absolute;
    left: 102%;
    top: 50%;
    transform: translateY(-50%);
}
.textp::before{
    content: url(./img/quote1.png);
    position: absolute;
    right: 102%;
    top: 50%;
    transform: translateY(-50%);
}
.article{
    padding: 5rem 0;

}
.containerBg{
    padding: 4rem 0;
}
.containerBg .container{
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
.containerBg .container .img{
    padding-right: 1.5rem;
    height: 100%;
}
.artdes{
    padding: 0 1rem;
}
.artdes .head .timeline{
    display: flex;
    align-items: center;
}
.artdes .head .timeline p{
    margin-right: 1rem;
    color: var(--virtual);
}
.artdes .middle{
    color: var(--p);
    padding: 0.5rem 0;

}
.artdes .foot{
    border: 2px solid #222222;
    border-radius: 0.5rem;
    display: inline-block;
    padding: 0.3rem 2rem;
    color: #222222;
}

/* footer */
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.ftopBg{
    width: 100%;
    padding: 5rem 0;
    background-color: black;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.ftop{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.shop{
    width: 50%;
    
}
.tweetsbg{
    width: 50%;
    padding-left: 2rem;
}
.tweets{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 1.2rem 0;

}

.fhead{
    color: white;
    padding: 1.5rem 0;
}
 .itemcontainer{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items:center;
    /* padding: 2rem 0; */
    
}

.itemcontainer .imgdes {
    padding-left: 1rem;
    align-self: stretch;
}
.itemcontainer .imgdes  p{
    color: white;
    align-self: flex-start;
    padding-bottom: 2rem;
}
.itemcontainer .imgdes  a{
    margin-top: 2.5rem;
    color: white;
    border: 2px solid white;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    align-self: flex-end;
}
.tdes p{
    color: white;
    padding-left: 1.5rem;
}
 .icon{
    align-self: flex-start;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}
.footer ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul li{
    padding: 0 1.5rem;
}

/* Responsive design start */

@media only screen and (max-width:1024px){
    /* Main Container */
    main .projectcontainer .projectsBx{
        flex-basis: 300px;
    }

    main .projectcontainer {
        justify-content: space-around;
    }

    .imgBx .hover{
        height: 40px;
    }

    .imgBx .hover .date p{
        font-size: 0.8rem;
    }

    .imgBx .hover .des .desBx span{
        font-size: 0.6rem;
    }

    .tmdes h3{
        font-size: 1rem;
    }

    .tmdes p{
        font-size: 0.8rem;
    }
    /* Article */
    .artdes .head h1{
        font-size: 1.3rem;
    }

    .artdes .head .timeline{
        font-size: 0.8rem;
    }

    .artdes .middle p{
        font-size: 0.9rem;
    }

    .artdes .foot a{
        font-size: 0.8rem;
    }

    /* Footer */
    .shop .imgdes p{
        padding-bottom: 1rem;
    }

    .shop .imgdes a{
       font-size: 0.8rem;
    }

}


/* Tablet Layout */

@media only screen and (max-width:768px){
    /* Main Container */
  .imgBx .hover{
        opacity: 1;
    }
    main .projectcontainer {
        justify-content: space-between;
    }

    /* Article */

    .textp .text{
        font-size: 1.5rem;
    }

    .artdes .head h1{
        font-size: 1.1rem;
    }

    .artdes .head .timeline{
        font-size: 0.6rem;
    }

    .artdes .middle p{
        font-size: 0.8rem;
    }

    .artdes .foot a{
        font-size: 0.7rem;
    }

    /* Footer */
    .shop .imgdes p{
        padding-bottom: 0.8rem;
        font-size: 0.8rem;
    }

    .shop .imgdes a{
       font-size: 0.6rem;
       padding: 0.4rem 0.9rem;
    }
    .tweets{
        font-size: 0.8rem;
    }
    .footer ul li a{
        font-size: 0.8rem;
    }

}


@media only screen and (max-width:660px){
    .brand nav{
        display: none;
    } 
    .menuicon{
        display: inline-block;
    }
}
/* Mobile layout */

@media only screen and (max-width:425px){
  .brand nav{
      display: none;
  }  
  .banner .btn{
      display: inline-block;
      margin: 1rem 0;
      padding: 1vh 1rem;
  }

    main .projectcontainer{
      justify-content: center;
  }

  .pjbtn{
      padding: 0.8rem 1rem;
      border-radius: 0.5rem;
  }
  .containerBg .container{
      width: 100%;
      flex-direction: column;
      justify-content: center;
  }
  .containerBg .container .img{
      margin-bottom: 1rem;
  }
  .artdes .head h1{
      font-size: 0.95rem;
  }
  .artdes .head .timeline{
      padding: 0.2rem;
  }
  .artdes .middle p{
      font-size: 0.7rem;
  }
  .artdes .foot{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .ftop{
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .shop{
      width: 100%;
      margin-bottom: 1rem;
  }
  .fhead{
      text-align: center;
  }
  .tweetsbg{
      width: 100%;
  }
  .footer{
      flex-direction: column;
  }
  .footer .social{
      margin-top: 0.8rem;
      width: 80%;
      display: flex;
      justify-content: space-around;
      align-items: center;
  }

}
  /* small mobole layout */
  @media only screen and (max-width:320px){
    .container{
        width: 90%;
    }
    .banner h1{
        font-size: 1.5rem;
    }
    .banner p{
        font-size: 0.8rem;
    }
    .pjbtn{
        font-size: 0.8rem;
    }
    .textp .text{
        font-size: 0.8rem;
    }

    .textp::before{
        right: 100%;
    }
    .textp::after{
        left: 100%;
    }
    .footer ul li {
        padding: 0 1rem;
    }
}